* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Space Grotesk;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-wrapper .credit-card-visual {
  display: flex;
  position: relative;

  max-width: 375px;
  margin: 0 auto;
}

.page-wrapper .credit-card-visual .mobile-background {
  width: 375px;
  max-width: 100%;
  display: block;
}

.page-wrapper .credit-card-visual .desktop-background {
  display: none;
}

.page-wrapper .credit-card-visual .mobile-credit-card-back {
  position: absolute;
  z-index: 1;

  margin-top: 32px;
  left: 73px;
}

.page-wrapper .credit-card-visual .desktop-credit-card-back {
  display: none;
}

.page-wrapper .credit-card-visual .mobile-credit-card-front {
  position: absolute;
  z-index: 2;

  margin-top: 126px;
  margin-left: 16px;
}

.page-wrapper .credit-card-visual .desktop-credit-card-front {
  display: none;
}

.page-wrapper .credit-card-informations {
  margin-top: 91px;
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 24px;
}

.page-wrapper .credit-card-informations .credit-card-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-wrapper .credit-card-informations .credit-card-name label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #21092F;
  margin-bottom: 9px;
}

.page-wrapper .credit-card-informations .credit-card-name input {
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.page-wrapper .credit-card-informations .credit-card-number {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.page-wrapper .credit-card-informations .credit-card-number label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #21092F;
  margin-bottom: 9px;
}

.page-wrapper .credit-card-informations .credit-card-number input {
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc {
  display: flex;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .expiration-date {
  display: flex;
  flex-direction: column;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .expiration-date {
  display: flex;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date {
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date label {
  margin-bottom: 9px;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date .expiration-date-month-year {
  display: flex;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date input {
  margin-right: 8px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date input {
  width: 72px;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .credit-card-cvc {
  display: flex;
  flex-direction: column;
}

.page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .credit-card-cvc input {
  width: 150px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.page-wrapper .credit-card-informations button {
  font-size: 18px;
  font-weight: 500;

  background-color: #21092F;
  color: white;
  padding: 15px 125px;
  border-radius: 8px;
  border: 1px solid #21092F;
  margin-bottom: 45px;
}

.thankyou .thankyou-click-and-thankyou-oval {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
}

.thankyou .thankyou-click-and-thankyou-oval .thankyou-click {
  display: flex;
  position: absolute;

  top: 30px;
  left: 92px;
  width: 24px;
}

.thankyou .thankyou-click-and-thankyou-oval .thankyou-oval {
  width: 80px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media(width>1109px) {
  .page-wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .page-wrapper .credit-card-visual {
    position: sticky;
    top: 0;
    flex: 0 0 483px;
    height: 100vh;
    max-width: none;
    margin: 0;
    overflow: visible;
  }

  .page-wrapper .credit-card-visual .mobile-background {
    display: none;
  }

  .page-wrapper .credit-card-visual .desktop-background {
    display: block;
    justify-content: flex-start;
  }

  .page-wrapper .credit-card-visual .mobile-credit-card-front {
    display: none;
  }

  .page-wrapper .credit-card-visual .desktop-credit-card-front {
    display: block;

    position: absolute;
    z-index: 2;

    top: 15%;
    left: 5%;
  }

  .page-wrapper .credit-card-visual .mobile-credit-card-back {
    display: none;
  }

  .page-wrapper .credit-card-visual .desktop-credit-card-back {
    display: block;
    position: absolute;
    z-index: 1;

    top: 56%;
    left: 25%;
  }

  .page-wrapper .credit-card-informations {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    justify-content: center;
    align-items: center;

    /* height: 100vh; */
    overflow: hidden;
  }

  .page-wrapper .credit-card-informations .credit-card-name input {
    width: 370px;
  }

  .page-wrapper .credit-card-informations .credit-card-number input {
    width: 370px;
  }

  .page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .expiration-date input {
    /* margin-right: 8px;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid #DFDEE0; */
    width: 100px;
  }

  .page-wrapper .credit-card-informations .credit-card-expiration-date input {
    width: 72px;
  }

  .page-wrapper .credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .credit-card-cvc input {
    width: 150px;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
  }

  .page-wrapper .credit-card-informations button {
    font-size: 18px;
    font-weight: 500;

    background-color: #21092F;
    color: white;
    padding: 15px 155px;
    border-radius: 8px;
    border: 1px solid #21092F;
    margin-bottom: 0px;
  }
}