* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Space Grotesk;
}

.credit-card-visual {
  display: flex;
  position: relative;
}

.credit-card-visual .mobile-background {
  width: 100%;
}

.credit-card-back {
  position: absolute;
  z-index: 1;

  margin-top: 32px;
  margin-left: 73px;
}

.credit-card-front {
  position: absolute;
  z-index: 2;

  margin-top: 126px;
  margin-left: 16px;
}

.credit-card-informations {
  margin-top: 91px;
  margin-inline: 24px;
}

.credit-card-informations .credit-card-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.credit-card-informations .credit-card-name label {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #21092F;
  margin-bottom: 9px;
}

.credit-card-informations .credit-card-name input {
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc {
  display: flex;
}

.credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .expiration-date {
  display: flex;
  flex-direction: column;
}

.credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .expiration-date {
  display: flex;
}

.credit-card-informations .credit-card-expiration-date {
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.credit-card-informations .credit-card-expiration-date label {
  margin-bottom: 9px;
}

.credit-card-informations .credit-card-expiration-date .expiration-date .expiration-date-month-year {
  display: flex;
}
.credit-card-informations .credit-card-expiration-date .expiration-date input {
  margin-right: 8px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.credit-card-informations .credit-card-expiration-date input {
  width: 72px;
}

.credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .credit-card-cvc {
  display: flex;
  flex-direction: column;
}

.credit-card-informations .credit-card-expiration-date .expiration-date-and-cvc .credit-card-cvc input {
  width: 150px;
  padding: 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
}

.credit-card-informations button {
  font-size: 18px;
  font-weight: 500;

  background-color: #21092F;
  color: white;
  padding: 15px 129px;
  border-radius: 8px;
  border: 1px solid #21092F;
  margin-bottom: 45px;
}